certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
docutils==0.16
idna==2.10
inflection==0.5.1
kiwisolver==1.2.0
matplotlib==3.3.1
more-itertools==8.5.0
numpy==1.19.2
pandas==1.1.2
Pillow==7.2.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
Quandl==3.5.2
requests==2.24.0
six==1.15.0
statistics==1.0.3.5
urllib3==1.25.10
